################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Yolo-Python-Project/Yolo-Python-Project-Upwork/.vs/Yolo-Python-Project-Upwork
